.cursor {
    cursor: pointer;
}

.noti-image {
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
}

.sender {
    display: inline-block !important;
    margin-left: 10px !important;
}