select {
    border: 1px solid !important;
    height: 40px !important;
    border-radius: 0.5rem !important;
    padding: 5px 15px !important;
}

select:focus {
    border-color: rgb(94, 206, 94) !important;
}