<div class="modal-header">
    <h4 class="modal-title">Invite Member</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group" style="margin:0px">
        <label for="type">Type</label>
        <select id="type" (change)="changeListInvite($event.target.value)">
            <option class="form-control form-select" value="1">Friends</option>
            <option class="form-control" value="2">Friends Of Friends</option>
        </select>
        <small class="text-danger">
            {{feedback}}
        </small>
    </div>
    <div class="form-group" style="margin:0px">
        <label for="friend">Friends</label>
        <select (change)="changeValue($event.target.value)">
            <option *ngFor="let user of list" [value]="user.userId">{{user.userName}}</option>
        </select>
        <small class="text-danger">
            {{friendFeedback}}
        </small>
    </div>
    <div class="group-box" style="margin-bottom:0px">
        <div>Avatar</div>
        <figure>
            <img *ngIf="member != undefined" [src]="member.userAvatar" style="width:100px;height:100px;">
        </figure>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="submit()">Invite</button>
</div>