<div class="www-layout">
  <section>
    <div class="gap no-gap signin whitish medium-opacity">
      <div class="bg-image" style="background-image:url(assets/images/resources/theme-bg.jpg)"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div>
              <figure><img src="assets/images/pngegg.png" style="width: 50%" alt=""></figure>
              <h1>Welcome to the C10Tinder</h1>
              <p>
                C10Tinder is a social network template that can be used to connect people.
                Use this template for multipurpose social activities like dating, posting, chatting and much more.
                Now join & Make Cool Friends around the world !!!
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="we-login-register">
              <div class="form-title">
                <i class="fa fa-key"></i>login
                <span>{{title}}</span>
              </div>
              <form class="we-form" method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Account Name" formControlName="accountName">
                <p class="text-black-50" *ngIf="loginForm.get('accountName').invalid && loginForm.get('accountName').touched">
                  Account Name Not Null!
                </p>
                <i (click)="viewPassword()" class="{{classPassword}}"></i>
                <input [type]="type" placeholder="Password" formControlName="password">
                <p class="text-black-50" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                  Password Not Null!
                </p>
                <br>
                <input type="checkbox" formControlName="remember" ><label>remember me</label>
                <button type="submit" data-ripple="">Log In</button>
                <a class="forgot underline" routerLink="/recover" title="">forgot password?</a>
              </form>
              <a class="with-smedia facebook" href="#" title="" data-ripple="" (click)="signInWithFB()"><i class="fa fa-facebook"></i></a>
              <a class="with-smedia google" href="#" title="" data-ripple="" (click)="signInWithGoogle()"><i class="fa fa-google"></i></a>
              <span>don't have an account? <a class="we-account underline" href="register.html" title="">register now</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--  function viewPassword() {-->
<!--    let type = document.getElementById('form-password');-->
<!--    if (type.type === "password") {-->
<!--      type.type = "text";-->
<!--      $('#show-password-1').removeClass('fa fa-eye-slash relative').addClass('fa fa-eye relative')-->
<!--    } else {-->
<!--      type.type = "password";-->
<!--      $('#show-password-1').removeClass('fa fa-eye relative').addClass('fa fa-eye-slash relative')-->
<!--    }-->
<!--  }-->

