<!--<div class="example-container mat-elevation-z8">-->
<aside class="sidebar static right">
<div class="mat-elevation-z8 widget stick-widget" style="box-shadow: none !important;">
  <table mat-table [dataSource]="rooms" class="example-table chat-users"
         matSort matSortActive="roomname" matSortDisableClear matSortDirection="asc">

    <!-- Room Name Column -->
    <ng-container matColumnDef="roomname">
      <th mat-header-cell
          style="padding-right: 194px !important;font-size: 20px !important;font-weight: bold !important; color: black !important;border: none"
          *matHeaderCellDef>Chat
      </th>
      <figure style="text-align: left;">
        <td mat-cell *matCellDef="let row" style="text-align: left; float: left; width: 100%; border: none !important;">

          <div class="d-flex align-items-center justify-content-between float-left"
               style="line-height: 40px; margin-left: 10px">
            <a (click)="show(row.roomname,row.getroom)" style="cursor: pointer">
              <img src="{{row.avatar}}" alt="" width="40px" height="40px"
                   style="border-radius: 50%; border: 1px solid #aaaaaa">
              <span class="status f-online" style="position: relative; bottom: -15px; right: 11px"></span>
              {{row.nickNameFriend}}
            </a>
          </div>
        </td>
      </figure>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
</aside>
<!--</div>-->

<mat-drawer-container style="{{styleChatBox}}">
  <mat-drawer-content class="chat-pane"
                      style="width: 340px; height: 60px; position: relative; top: 0px; z-index: 1000; background: #95999c">
    <div class="chat-head ">
      <span class="status f-online"></span>
      <div class="dropdown">
        <span style="height: 30px; padding: 0 10px">{{getroom}}</span>

      </div>
      <div class="more">
        <span (click)="close()"><i class="ti-close" style="margin-right: 20px"></i></span>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer-content class="chat-pane" style="width: 340px; height: 300px; position: relative; top: 0px; z-index: 1">
    <!--    <mat-drawer-content class="chat-pane">-->
    <div #chatcontent class="chat-content" id="parentDiv">
      <!--      son dp trai-->
      <!--      <button (click)="scrollBottom()"></button>-->
      <div class="message-box" *ngFor="let chat of chats">
        <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
          <span class="chat-date">{{chat.date | date:'short'}}</span>
          <span class="chat-content-center">{{chat.message}}</span>
        </div>
        <ng-template #message>
          <div class="chat-message">
            <div class="right-bubble"
                 [ngClass]="{'right-bubble': chat.nickname ===  nickname, 'left-bubble': chat.nickname !== nickname}">
              <span class="msg-name" *ngIf="chat.nickname === nickname">Me</span>
              <span class="msg-name" *ngIf="chat.nickname !== nickname">{{chat.nickname}}</span>
              <span class="msg-date"> at {{chat.date}}</span>
              <div>
                <p id="text" style="color: #0e0e0e">{{chat.message}}</p>

              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <!--    scroll-->

    <div id="content"></div>
  </mat-drawer-content>
  <mat-drawer-content>
    <div class="" style="height: 60px; background: #c3c2c2">

      <!--      <chat input >-->

      <form class="" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
        <mat-form-field style="width: 90%; margin-left: 5%">
          <button style="margin-top: 12px;border-radius: 50%!important;padding: 1px 1px " class="btn " type="submit"
                  [disabled]="!chatForm.valid" mat-button matSuffix
                  aria-label="Send">
            <i style="color: blue; font-size: 29px; " class="ti-arrow-circle-right"></i>
          </button>
          <input style="padding-bottom: 7px;padding-top: 5px;margin-bottom: 6px; background: white; border-radius: 15px"
                 matInput
                 formControlName="message"
                 [errorStateMatcher]="matcher"/>
        </mat-form-field>
      </form>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

<!--<script>-->
<!--  module = document.querySelector(".text p");-->
<!--  $clamp(module , {clamp: 3})-->
<!--</script>-->


