<aside class="sidebar static left">
    <div class="widget">
        <h4 class="widget-title">Group Community</h4>
        <ul class="fav-community">
            <li *ngIf="type === 'member'"><i class="fa fa-users"></i>{{totalMember}}</li>
            <li *ngIf="type === 'warning'"><i class="fa fa-exclamation-triangle"></i>{{totalMember}}</li>
            <li *ngIf="type === 'request'"><i class="fa fa-envelope"></i>{{totalMember}}</li>
            <li><i class="fa fa-bookmark"></i>
                <a href="#" title="">category</a>
                Entertainment
            </li>
            <li>
                <i class="fa fa-map-marker"></i>
                <a class="cursor __cf_email__">[email&#160;protected]</a>
            </li>
        </ul>
    </div>
</aside>