<div class="modal-header">
    <h4 class="modal-title">Accept Member</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to Accept <span class="text-danger">{{member.user.userName}}</span>
            to your group?</strong>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="accept()">Accept</button>
</div>