<link rel="stylesheet" href="/assets/css/main.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/color.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<div class="set-title">
  <h5><i class="fa fa-key"></i> Change Password</h5>
  <span>You will change your password here, we will assist with your security issues</span>
</div>
<div class="stg-form-area">
  <form method="post" class="c-form">
    <div>
      <label>Current password (<span class="color-orange">*</span>)</label>
      <input type="password" placeholder="Enter...">
      <i class="fa fa-eye-slash relative password color-orange"></i>
    </div>
    <div>
      <label>A new password (<span class="color-orange">*</span>)</label>
      <input type="password" placeholder="Enter...">
      <i class="fa fa-eye-slash relative password color-orange"></i>
    </div>
    <div>
      <label>Confirm password (<span class="color-orange">*</span>)</label>
      <input type="password" placeholder="Enter...">
      <i class="fa fa-eye-slash relative password color-orange"></i>
    </div>
    <div>
      <button type="submit" class="btn-secondary"
              data-ripple="">Cancel
      </button>
      <button type="submit" data-ripple="">
        Save
      </button>
    </div>
  </form>
</div>



