<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">Group Community</h4>
                                    <ul class="fav-community">
                                        <li><i class="fa fa-users"></i><a href="#" title="">invite friends</a> to like
                                            this page</li>
                                        <li><i class="fa fa-thumbs-up"></i>13,33,454 People like this</li>
                                        <li><i class="fa fa-rss"></i>13,33,454 People follow this</li>
                                        <li><i class="fa fa-share-alt"></i>13,540 People share this</li>
                                        <li><i class="fa fa-bookmark"></i><a href="#" title="">category</a>
                                            Entertainment</li>
                                        <li><i class="fa fa-map-marker"></i><a
                                                href="http://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                                data-cfemail="d699b5b3b7b889bbb9a2b3ba96afb9a3a4bbb7bfbaf8b5b9bb">[email&#160;protected]</a>
                                        </li>
                                    </ul>
                                </div><!-- Page Community-->
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-9">
                            <div class="central-meta padding30">
                                <div class="row request-amount">
                                    <div class="col-lg-12">
                                        <div class="align-left">
                                            <h5>Request<span>{{data.totalElements}}</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div id="add" class="addgroup">
                                            <div class="item-upload">
                                                <i class="fa fa-plus-circle"></i>
                                                <div class="upload-meta">
                                                    <h5>Invite a friend</h5>
                                                    <span>its only take a few minutes!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4" *ngFor="let member of list">
                                        <app-group-request [member]="member"
                                            (event)="setRequest($event);open(acceptModal);"
                                            (cancelMember)="setRequest($event);open(cancelRequestModal);">
                                        </app-group-request>
                                    </div>
                                </div>
                                <div class="lodmore">
                                    <span>Viewing {{list.length}} of {{data.totalElements}} request</span><br>
                                    <p class="p-0 cursor" (click)="addList()">
                                        <i class="fa fa-chevron-circle-down font-250" data-toggle="tooltip"
                                            title="More"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- centerl meta -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- content -->
<app-invite-modal></app-invite-modal>
<ng-template #acceptModal let-modal>
    <app-accept-modal [modal]="modal" [member]="request" (event)="page = 0;set();"></app-accept-modal>
</ng-template>
<ng-template #cancelRequestModal let-modal>
    <app-cancel-request-modal [modal]="modal" [member]="request" (event)="page = 0;set();"></app-cancel-request-modal>
</ng-template>