<ul class="we-comet">
  <!-- firts comment  -->
  <li *ngFor="let parentComment of parentComments">
    <!-- main comment -->
    <div>
      <div class="comet-avatar">
        <img src="{{ parentComment.user.userAvatar }}" alt="" />
      </div>
      <div class="we-comment">
        <h5>
          <a href="time-line.html" title="">{{
            parentComment.user.userName
          }}</a>
        </h5>
        <p style="display: block">
          {{ parentComment.content }}
        </p>
        <figure *ngIf="parentComment.commentImage">
          <div class="row">
            <div class="img-bunch">
              <div class="col-lg-3 col-md-3 col-sm-3"></div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <figure>
                  <a
                    class="strip"
                    href="{{ parentComment.commentImage }}"
                    title=""
                    data-strip-group="mygroup"
                    data-strip-group-options="loop: false"
                  >
                    <img src="{{ parentComment.commentImage }}" alt="" />
                  </a>
                </figure>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>
          </div>
        </figure>
        <div class="inline-itms">
          <a
            class="we-reply"
            data-toggle="collapse"
            href="{{ '#blockChildComment' + parentComment.parentCommentId }}"
            role="button"
            aria-expanded="false"
            aria-controls="childComment1"
            title="Reply"
            >Reply <i class="fa fa-reply"></i
          ></a>
          <a
            *ngIf="parentComment.user.userName == user.userName"
            href=""
            class="we-reply"
            data-toggle="modal"
            data-target="#editParentCommentModal"
            (click)="sendEditingParentComment(parentComment)"
          >
            Edit <i class="fa fa-edit"></i>
          </a>
          <a
            *ngIf="parentComment.user.userName == user.userName"
            href=""
            class="we-reply"
            data-toggle="modal"
            data-target="#deleteParentCommentModal"
            (click)="sendDeletingParentComment(parentComment.parentCommentId)"
          >
            Delete <i class="fa fa-remove"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- child comments -->
    <ul
      class="we-comet collapse"
      id="{{ 'blockChildComment' + parentComment.parentCommentId }}"
      *ngIf="parentComment.childComments"
    >
      <li *ngFor="let childComment of parentComment.childComments">
        <div class="comet-avatar">
          <img src="{{ childComment.user.userAvatar }}" alt="" />
        </div>
        <div class="we-comment">
          <h5>
            <a href="time-line.html" title="">{{
              childComment.user.userName
            }}</a>
          </h5>
          <p>
            {{ childComment.content }}
            <i class="em em-smiley"></i>
          </p>
          <figure *ngIf="childComment.commentImage">
            <div class="row">
              <div class="img-bunch">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <figure>
                    <a
                      class="strip"
                      href="{{ childComment.commentImage }}"
                      title=""
                      data-strip-group="mygroup"
                      data-strip-group-options="loop: false"
                    >
                      <img src="{{ childComment.commentImage }}" alt="" />
                    </a>
                  </figure>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
          </figure>
          <div
            class="inline-itms"
            *ngIf="childComment.user.userName == user.userName"
          >
            <a
              href=""
              class="we-reply"
              data-toggle="modal"
              data-target="#editChildCommentModal"
              (click)="sendEditingChildComment(childComment)"
            >
              Edit <i class="fa fa-edit"></i>
            </a>
            <a
              href=""
              class="we-reply"
              data-toggle="modal"
              data-target="#deleteChildCommentModal"
              (click)="sendDeletingChildComment(childComment.childCommentId)"
            >
              Delete <i class="fa fa-remove"></i>
            </a>
          </div>
        </div>
      </li>

      <!-- user comment in child block-->
      <li class="post-comment">
        <div class="comet-avatar">
          <img src="{{ user.userAvatar }}" alt="" />
        </div>
        <div class="post-comt-box" style="width: 89%">
          <form
            [formGroup]="childCommentForm"
            (ngSubmit)="submitChildForm(parentComment)"
          >
            <input
              class="form-control comment-input"
              placeholder="Post your comment"
              formControlName="content"
              style="
                background: #edf2f6 none repeat scroll 0 0;
                border-color: transparent;
                border-radius: 5px;
                color: inherit;
                font-size: 13px;
                height: 60px;
                line-height: 16px;
              "
            />
            <input type="hidden" formControlName="commentImage" />
            <input type="hidden" formControlName="parentComment" />
            <input type="hidden" formControlName="user" />
            <figure *ngIf="imageUrlFromLocal">
              <div class="row">
                <div class="img-bunch">
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <figure style="margin-top: 10px">
                      <span
                        ><i
                          style="
                            position: absolute;
                            top: 2%;
                            left: 90%;
                          "
                          class="fa fa-trash delete-icon"
                          (click)="deleteUpdateImage()"
                        ></i
                      ></span>
                      <img
                        style="width: 100%"
                        src="{{ imageUrlFromLocal }}"
                        alt=""
                      />
                    </figure>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>
              </div>
            </figure>
            <div class="add-smiles">
              <div class="uploadimage">
                <i class="fa fa-image"></i>
                <label class="fileContainer">
                  <input type="file" (change)="getImageFromLocal($event)" />
                </label>
              </div>

            </div>
          </form>
        </div>
      </li>
    </ul>
  </li>
</ul>
