.group-box > figure > img {
    width: 100px !important;
    height: 100px !important;
}

.font-250 {
    font-size: 250%;
}

.cursor {
    cursor: pointer;
}

.align-left h5 span {
    margin-left: 5px;
    background: #7750f8 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;
  }
  
  .request-amount {
      margin-bottom: 30px !important;
  }
  
  .padding-left-0 {
      padding-left: 0px !important;
  }