<div class="fixed-sidebar right">
  <div class="chat-friendz">
    <ul class="chat-users">
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend1.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend1.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend1.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend1.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend1.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>

      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend2.jpg" alt="">
          <span class="status f-away"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend3.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend4.jpg" alt="">
          <span class="status f-offline"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend5.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend6.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend7.jpg" alt="">
          <span class="status f-offline"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend8.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend9.jpg" alt="">
          <span class="status f-away"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend10.jpg" alt="">
          <span class="status f-away"></span>
        </div>
      </li>
      <li>
        <div class="author-thmb">
          <img src="../../../assets/images/resources/side-friend8.jpg" alt="">
          <span class="status f-online"></span>
        </div>
      </li>
    </ul>

    <div class="chat-box">
      <div class="chat-head">
        <span class="status f-online"></span>
        <h6>Bucky Barnes</h6>
        <div class="more">

          <span class="close-mesage"><i class="ti-close"></i></span>
        </div>
      </div>
      <div class="chat-list">
        <ul>
          <li class="me">
            <div class="chat-thumb"><img src="../../../assets/images/resources/chatlist1.jpg" alt=""></div>
            <div class="notification-event">
								<span class="chat-message-item">
									HI, Jack i have faced a problem with your software. are you available now, when i install this i have to received an error.
								</span>
              <span class="notification-date"><time datetime="2004-07-24T18:18"
                                                    class="entry-date updated">Today at 2:12pm</time></span>
            </div>
          </li>
          <li class="you">
            <div class="chat-thumb"><img src="../../../assets/images/resources/chatlist2.jpg" alt=""></div>
            <div class="notification-event">
								<span class="chat-message-item">
									Hi tina, Please let me know your purchase code, and show me the screnshot of error.
								</span>
              <span class="notification-date"><time datetime="2004-07-24T18:18"
                                                    class="entry-date updated">Today at 2:14pm</time></span>
            </div>
          </li>
          <li class="me">
            <div class="chat-thumb"><img src="../../../assets/images/resources/chatlist1.jpg" alt=""></div>
            <div class="notification-event">
								<span class="chat-message-item">
									Yes, sure please wait a while, i ll show you the complete error list. Thank you.
								</span>
              <span class="notification-date"><time datetime="2004-07-24T18:18"
                                                    class="entry-date updated">Today at 2:15pm</time></span>
            </div>
          </li>
        </ul>
        <div>
          <input id="myText1" placeholder="Post enter to post...">
          <button id="myButton" class="btn btn-outline-primary" type="submit" onclick="send()">Send</button>
        </div>


      </div>
    </div><!--chat-box-->
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"
        integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA=="
        crossorigin="anonymous"></script>

<script>

  var input = document.getElementById("myText1");
  document.addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
      send();
    }
  });


  function send() {
    alert($("#myText1").data("emojioneArea").getText());
    $("#myText1").data("emojioneArea").setText('');
  };

  $('#myText1').emojioneArea({
    pickerPosition: 'top'
  });
</script>
