<div class="wavy-wraper">
  <div class="wavy">
    <span style="--i: 1">L</span>
    <span style="--i: 2">E</span>
    <span style="--i: 3">E</span>
    <span style="--i: 4">C</span>
    <span style="--i: 5">H</span>
    <span style="--i: 6">O</span>
    <span style="--i: 7">N</span>
    <span style="--i: 8">C</span>
    <span style="--i: 9">A</span>
    <span style="--i: 10">O</span>
  </div>
</div>
<div class="theme-layout">
  <div class="topbar stick">
    <h4 style="text-align: center">Navbar của Hữu Kiên</h4>
  </div>
  <!-- topbar -->

  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
              <div class="col-lg-3 border border-primary">
                <h3>Gợi ý kết bạn của Việt Dũng</h3>
              </div>
              <!-- sidebar -->

              <div class="col-lg-6">
                <div class="central-meta postbox border border-primary">
                  <h4>Khung đăng bài của Hồng Sơn</h4>
                </div>
                <!-- add post new box -->

                <div class="loadMore">
                  <div class="central-meta item">
                    <div class="user-post" *ngFor="let post of posts">
                      <div class="friend-info">
                        <!-- avatar area -->
                        <figure>
                          <img src="{{ post.user.userAvatar }}" />
                        </figure>

                        <!-- header of post : post's owner, time, edit, delete post -->
                        <div class="friend-name">
                          <div class="more">
                            <div class="more-post-optns">
                              <i class="ti-more-alt"></i>
                              <ul>
                                <li>
                                  <i class="fa fa-pencil-square-o"></i>Edit Post
                                </li>
                                <li>
                                  <i class="fa fa-trash-o"></i>Delete Post
                                </li>
                              </ul>
                            </div>
                          </div>
                          <ins
                            ><a href="time-line.html" title="">{{
                              post.user.userName
                            }}</a>
                          </ins>
                          <span
                            ><i class="fa fa-globe"></i>
                            {{ post.postStatus }}
                            {{ post.postPublished | date: "medium" }}
                          </span>
                        </div>

                        <!-- primary content of post -->
                        <div class="post-meta">
                          <!-- content -->
                          <p>
                            {{ post.postContent }}
                          </p>

                          <!-- bunch of images -->
                          <figure>
                            <div class="img-bunch">
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                  <figure>
                                    <a
                                      class="strip"
                                      href="../../../assets/images/resources/album1.jpg"
                                      title=""
                                      data-strip-group="mygroup"
                                      data-strip-group-options="loop: false"
                                    >
                                      <img
                                        src="../../../assets/images/resources/album1.jpg"
                                        alt=""
                                      />
                                    </a>
                                  </figure>
                                  <figure>
                                    <a
                                      class="strip"
                                      href="../../../assets/images/resources/album2.jpg"
                                      title=""
                                      data-strip-group="mygroup"
                                      data-strip-group-options="loop: false"
                                    >
                                      <img
                                        src="../../../assets/images/resources/album2.jpg"
                                        alt=""
                                      />
                                    </a>
                                  </figure>
                                  <figure>
                                    <a
                                      class="strip"
                                      href="../../../assets/images/resources/album6.jpg"
                                      title=""
                                      data-strip-group="mygroup"
                                      data-strip-group-options="loop: false"
                                    >
                                      <img
                                        src="../../../assets/images/resources/album6.jpg"
                                        alt=""
                                      />
                                    </a>
                                  </figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                  <figure>
                                    <a
                                      class="strip"
                                      href="../../../assets/images/resources/album6.jpg"
                                      title=""
                                      data-strip-group="mygroup"
                                      data-strip-group-options="loop: false"
                                    >
                                      <img
                                        src="../../../assets/images/resources/album6.jpg"
                                        alt=""
                                      />
                                    </a>
                                  </figure>
                                  <figure>
                                    <a
                                      class="strip"
                                      href="../../../assets/images/resources/album5.jpg"
                                      title=""
                                      data-strip-group="mygroup"
                                      data-strip-group-options="loop: false"
                                    >
                                      <img
                                        src="../../../assets/images/resources/album5.jpg"
                                        alt=""
                                      />
                                    </a>
                                  </figure>
                                  <figure>
                                    <a
                                      class="strip"
                                      href="../../../assets/images/resources/album4.jpg"
                                      title=""
                                      data-strip-group="mygroup"
                                      data-strip-group-options="loop: false"
                                    >
                                      <img
                                        src="../../../assets/images/resources/album4.jpg"
                                        alt=""
                                      />
                                    </a>
                                  </figure>
                                </div>
                              </div>
                            </div>
                          </figure>

                          <!-- comment button -->
                          <div class="we-video-info">
                            <ul>
                              <li>
                                <span class="comment" title="Comments">
                                  <i class="fa fa-commenting"> Comment</i>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="coment-area" style="display: block">
                          <app-comment
                            [parentComments]="post.parentComments"
                            (onParentCommentPicked)="
                              onEditParentComment($event)
                            "
                          ></app-comment>
                          <ul class="we-comet" style="margin-top: 10px">
                            <!-- user comment -->
                            <li class="post-comment">
                              <div class="comet-avatar">
                                <img
                                  src="../../../assets/images/resources/nearly1.jpg"
                                  alt=""
                                />
                              </div>
                              <div class="post-comt-box">
                                <form
                                  [formGroup]="parentCommentForm"
                                  (ngSubmit)="submitParentForm(post)"
                                >
                                  <input
                                    class="form-control"
                                    placeholder="Post your comment"
                                    formControlName="content"
                                    id="contentComment"
                                    style="
                                      background: #edf2f6 none repeat scroll 0 0;
                                      border-color: transparent;
                                      border-radius: 5px;
                                      color: inherit;
                                      font-size: 13px;
                                      height: 60px;
                                      line-height: 16px;
                                    "
                                  />
                                  <input
                                    type="hidden"
                                    formControlName="commentImage"
                                  />
                                  <input type="hidden" formControlName="post" />
                                  <input type="hidden" formControlName="user" />
                                  <div class="add-smiles">
                                    <div class="uploadimage">
                                      <i class="fa fa-image"></i>
                                      <label class="fileContainer">
                                        <input type="file" />
                                      </label>
                                    </div>
                                    <span
                                      class="em em-expressionless"
                                      title="add icon"
                                    ></span>
                                    <div class="smiles-bunch">
                                      <i class="em em---1"></i>
                                      <i class="em em-smiley"></i>
                                      <i class="em em-anguished"></i>
                                      <i class="em em-laughing"></i>
                                      <i class="em em-angry"></i>
                                      <i class="em em-astonished"></i>
                                      <i class="em em-blush"></i>
                                      <i class="em em-disappointed"></i>
                                      <i class="em em-worried"></i>
                                      <i class="em em-kissing_heart"></i>
                                      <i class="em em-rage"></i>
                                      <i class="em em-stuck_out_tongue"></i>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button
                    class="btn-view btn-load-more"
                    (click)="loadMorePost()"
                  >
                    Load More
                  </button>
                </div>
              </div>
              <!-- centerl meta -->

              <div class="col-lg-3 border border-primary">
                <h3>Block chatting của Ngọc Thịnh</h3>
              </div>
              <!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bottombar border border-primary">
    <h4>Footer của Hữu Kiên</h4>
  </div>
</div>

<!-- modal edit comment -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="editingParentComment"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="parentCommentForm"
          (ngSubmit)="submitEditParentForm()"
        >
          <div class="form-group" style="margin-top: 0; margin-bottom: 0">
            <label for="message-text" class="col-form-label"
              >Your comment:</label
            >
            <input
              type="text"
              class="form-control comment-input"
              placeholder=" Post your comment"
              formControlName="content"
              style="
                background: #edf2f6 none repeat scroll 0 0;
                border-color: transparent;
                border-radius: 5px;
                color: inherit;
                font-size: 13px;
                height: 60px;
                line-height: 16px;
              "
              value="{{ editingParentComment.content }}"
            />
            <input type="hidden" formControlName="post" />
            <input type="hidden" formControlName="user" />
            <input type="hidden" formControlName="commentImage" />
            <input
              style="margin-top: 10px"
              type="submit"
              value="Save"
              class="btn btn-primary profile-button"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal delete comment -->
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <!-- <div class="icon-box">
              <i class="material-icons">&#xE5CD;</i>
            </div>						 -->
        <!-- <h4 class="modal-title w-100">Are you sure?</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button> -->
        <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you really want to delete this comment? This process cannot be
          undone.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
