<div class="theme-layout">
  <!-- topbar -->
  <section>
    <div class="gap2 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static left">
                  <div class="advertisment-box">
                    <h4 class="">advertisment</h4>
                    <figure>
                      <a href="#" title="Advertisment"><img src="assets/images/resources/ad-widget.gif" alt=""></a>
                    </figure>
                  </div><!-- advertisment box -->
                  <div class="widget">
                    <h4 class="widget-title">Shortcuts</h4>
                    <ul class="naves">
                      <li>
                        <i class="ti-files"></i>
                        <a [routerLink]="['/wall', user.userId]" title="">My pages</a>
                      </li>
                      <li>
                        <i class="ti-power-off"></i>
                        <a (click)="logout()" title="">Logout</a>
                      </li>
                    </ul>
                  </div><!-- Shortcuts -->
                  <app-friend-suggest></app-friend-suggest>
                </aside>
              </div>
              <!-- sidebar -->

              <div class="col-lg-6">
                <app-newsfeed></app-newsfeed>
              </div>
              <!-- centerl meta -->

              <div class="col-lg-3">
                <div class="central-meta item">
                                                <span class="create-post">Recommend Friends

                                                </span>
                  <div class="pit-friends" *ngFor="let userFavourite of listRecommendation">
                    <figure><a href="#" title=""><img
                      src="{{userFavourite.user.userAvatar}}" alt="" style="height: 40px; width: 40px"></a></figure>
                    <a href="http://localhost:4200/wall/{{userFavourite.user.userId}}"
                       title="">{{userFavourite.user.userName}}</a>
                    <div class="pit-frnz-meta float-left">
                      <i *ngIf="!userFavourite.friends">Not Friend</i>
                      <i> Address: {{userFavourite.user.ward.district.province.provinceName}}</i>
                      <i *ngIf="userFavourite.favourites.length != 0"> Favourites: {{userFavourite.favourites}}</i>
                      <i *ngIf="userFavourite.favourites.length == 0"> Favourites: None </i>
                    </div>
                  </div>
                </div><!-- recommend peoples -->
                <app-room-list></app-room-list>
              </div>
              <!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
