a {
  text-decoration: none;
}

.btn-j {
  align-items: center;
  background: #ff4e01;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.btn-j:hover {
  background-color: #fff;
}

.btn-j:hover i {
  color: rgb(102, 235, 102) !important;
}
