<div class="user-profile" *ngIf="user">
  <figure>
    <div class="edit-pp">
      <label class="fileContainer">
        <i class="fa fa-camera"></i>
        <input type="file">
      </label>
    </div>
    <img src="{{group.imageBackground}}" style="height: 400px" alt="">
    <ul class="profile-controls" *ngIf="group.admin">

      <li *ngIf="!isJoin && group.admin.userId != user.userId">
        <button class="btn btn-j" (click)="saveRequest()" title="Join Group" data-toggle="tooltip">
          <i class="fa fa-user-plus " style="color: white"></i></button>
      </li>

      <li *ngIf="requestType === 'user'">
        <button class="btn btn-j" (click)="deniedRequest()" title="Denied Request" data-toggle="tooltip">
          <i class="fa fa-times text-light"></i>
        </button>
      </li>
      <li *ngIf="requestType === 'admin'">
        <button class="btn btn-j" (click)="acceptRequest()" title="Accept" data-toggle="tooltip">
          <i class="fa fa-check text-light"></i>
        </button>
      </li>
      <li *ngIf="requestType === 'admin'">
        <button class="btn btn-j" (click)="deniedRequest()" title="Denied" data-toggle="tooltip">
          <i class="fa fa-times text-light"></i>
        </button>
      </li>

      <li><a class="send-mesg" id="show" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a>
      </li>
      <li *ngIf="group.admin.userId === user.userId">
        <div class="edit-seting" title="Edit Profile image"><i class="fa fa-sliders"></i>
          <ul class="more-dropdown">
            <li><a (click)="open(edit)">Update Scope</a></li>
            <li><a data-toggle="modal" data-target="#exampleModal"
                (click)="showDelete(group.groupId, group.groupName)">Delete Groups</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </figure>

  <div class="profile-section">
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <div class="profile-author">
          <div class="profile-author-thumb">
            <img alt="author" src="{{group.imageAvatarUrl}}">
            <div class="edit-dp">
              <label class="fileContainer">
                <i class="fa fa-camera"></i>
                <input type="file">
              </label>
            </div>
          </div>

          <div class="author-content">
            <a class="h4 author-name">{{group.groupName}}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-9">
        <ul class="profile-menu" *ngIf="group.admin">
          <li>
            <a [class.active]='router.url === "/group/details/"+group.groupId'
              routerLink="/group/details/{{group.groupId}}">Timeline</a>
          </li>
          <li *ngIf="group.admin.userId !== user.userId">
            <a [class.active]='router.url === "/group/request/"+group.groupId'
              routerLink="/group/member/{{group.groupId}}">Member</a>
          </li>
          <li *ngIf="group.admin.userId === user.userId">
            <a [class.active]='router.url === "/group/member/list/"+group.groupId'
              routerLink="/group/member/list/{{group.groupId}}">Member</a>
          </li>
          <li *ngIf="group.admin.userId === user.userId">
            <a [class.active]='router.url === "/group/request/list/"+group.groupId'
              routerLink="/group/request/list/{{group.groupId}}">Request participation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE GROUP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <span class="text-danger">{{group.groupName}}</span> ?</p>
        <p class="text-warning">This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>

<ng-template #edit let-modal>
<div class="modal-header">
    <h4 class="modal-title">Edit Scope</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to edit <span class="text-danger">{{group.groupName}}</span>?</strong>
    </p>
    <select class="form-control form-select" [(ngModel)]="scope">
      <option value="private">Private</option>
      <option value="public">Public</option>
    </select>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="editGroup()">Edit</button>
</div>
</ng-template>


